# Data Cleaning using Pandas

In [34]:
import pandas as pd


data = pd.read_csv(r"C:\Users\allah\Downloads\archive (4)\Stats survey.csv")
            
data.head(5)

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

Displaying all columns (this is crucial because we don't want see long names in columns)

In [35]:
cols = data.columns.tolist()
cols

['Timestamp',
 'Your Sex?',
 'Your Matric (grade 12) Average/ GPA (in %)',
 'What year were you in last year (2023) ?',
 'What faculty does your degree fall under?',
 'Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)',
 'Your Accommodation Status Last Year (2023)',
 'Monthly Allowance in 2023',
 'Were you on scholarship/bursary in 2023?',
 'Additional amount of studying (in hrs) per week',
 'How often do you go out partying/socialising during the week? ',
 'On a night out, how many alcoholic drinks do you consume?',
 'How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)',
 'How many modules have you failed thus far into your studies?',
 'Are you currently in a romantic relationship?',
 'Do your parents approve alcohol consumption?',
 'How strong is your relationship with your parent/s?']

Changing column names to shorter ones.

In [36]:
cols[1] = "Gender"
cols[2] = "GPA"
cols[3] = "Prev_grade"
cols[4] = "Faculty"
cols[5] = "Prev_gpa"
cols[6] = "Housing_last"
cols[7] = "Spending_monthly"
cols[8] = "Scholarship"
cols[9] = "study_hr_per_week"
cols[10] = "partying_during_week"
cols[11] = "alcoholic_drink_consume"
cols[12] = "classes_miss_for_alcohol"
cols[13] = "exams_failed"
cols[14] = "dating"
cols[15] = "parents_allow_alcohol"
cols[16] = "relationship_with_parents"

data.columns = cols

data.head(5)

,Timestamp,Gender,GPA,Prev_grade,Faculty,Prev_gpa,Housing_last,Spending_monthly,Scholarship,study_hr_per_week,partying_during_week,alcoholic_drink_consume,classes_miss_for_alcohol,exams_failed,dating,parents_allow_alcohol,relationship_with_parents
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

Dropping unnecessary columns in our data

In [37]:
data.drop('Prev_gpa', axis=1, inplace=True)
data.drop('Housing_last', axis=1, inplace=True)
data.drop('study_hr_per_week', axis=1, inplace=True)
data.drop('alcoholic_drink_consume', axis=1, inplace=True)

Dropping NaN variables in our data

In [38]:
data.dropna(subset=['Gender'], inplace=True)
data.dropna(subset=['GPA'], inplace=True)

We automatically applying 1st year to prev_grades which are NaN because we known in that case it's first year student.

In [39]:
data['Prev_grade'] = data['Prev_grade'].fillna("1st Year")

Filling NaN or missing values by using modes, Although it affects our data accuracy but it's better than deleting these variables.

In [40]:
data['Faculty'] = data['Faculty'].fillna(data['Faculty'].mode()[0])
data['Spending_monthly'] = data['Spending_monthly'].fillna(data['Spending_monthly'].mode()[0])
data['Scholarship'] = data['Scholarship'].fillna(data['Scholarship'].mode()[0])
data['partying_during_week'] = data['partying_during_week'].fillna(data['partying_during_week'].mode()[0])
data['classes_miss_for_alcohol'] = data['classes_miss_for_alcohol'].fillna(data['classes_miss_for_alcohol'].mode()[0])
data['exams_failed'] = data['exams_failed'].fillna(data['exams_failed'].mode()[0])
data['dating'] = data['dating'].fillna(data['dating'].mode()[0])
data['parents_allow_alcohol'] = data['parents_allow_alcohol'].fillna(data['parents_allow_alcohol'].mode()[0])

data['relationship_with_parents'] = data['relationship_with_parents'].fillna(data['dating'].mode()[0])

Dropping duplicates and showing info about our data

In [41]:
data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 399 entries, 0 to 405
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  399 non-null    object
 1   Gender                     399 non-null    object
 2   GPA                        399 non-null    float64
 3   Prev_grade                 399 non-null    object
 4   Faculty                    399 non-null    object
 5   Spending_monthly           399 non-null    object
 6   Scholarship                399 non-null    object
 7   partying_during_week       399 non-null    object
 8   classes_miss_for_alcohol   399 non-null    object
 9   exams_failed               399 non-null    object
 10  dating                     399 non-null    object
 11  parents_allow_alcohol      399 non-null    object
 12  relationship_with_parents  399 non-null    object
dtypes: float64(1), object(12)
memory usage: 43.6+ KB

In [42]:
data.head(5)

,Timestamp,Gender,GPA,Prev_grade,Faculty,Spending_monthly,Scholarship,partying_during_week,classes_miss_for_alcohol,exams_failed,dating,parents_allow_alcohol,relationship_with_parents
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,R 4001- R 5000,No,Only weekends,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,R 7001 - R 8000,"Yes (NSFAS, etc...)",Only weekends,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,R 4001- R 5000,No,2,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,R 6001 - R 7000,No,3,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,R 4001- R 5000,No,Only weekends,1,3,No,Yes,Fair

Creating new_data.csv file and applying our preprocessed data to there

In [43]:
data.to_csv("new_data.csv", index=False)